.app-container {
  margin: 0 auto;
  width: 95%;
  max-width: 1240px;

  .app-header {
    margin-top: 10%;
    text-align: center;
  }

  .sentence-contaier {
    margin-top: 7%;
    display: flex;
    justify-content: center;

    .app-character {
      margin-right: 0;
    }

    .sentence {
      position: relative;
      padding: 10px 30px 10px 30px;
      width: 400px;
      height: 100px;

      background-color: rgb(216, 216, 216);
      border-radius: 30px;

      &::before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        top: 50%;
        left: 0;

        background-color: rgb(216, 216, 216);
        border-radius: 2px;
        transform: rotate(45deg);
        transform-origin: top left;
      }

      &-item {
        margin-right: 10px;
        margin-top: 5px;

        font-size: 16px;

        border-bottom: 1px dotted #000;
        cursor: pointer;
      }
    }
  }
}