.app-container {
  margin: 0 auto;
  width: 95%;
  max-width: 1240px;

  .app-header {
    margin-top: 7%;
    text-align: center;
  }

  .sentence-contaier {
    margin-top: 7%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;

    .app-character {
      margin-right: 0;
    }

    .sentence {
      position: relative;
      padding: 10px 30px 10px 30px;
      width: 400px;
      height: 100px;

      background-color: #fff;
      border-radius: 30px;
      border: 2px solid rgb(216, 216, 216);

      &::before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        top: 50%;
        left: 0;

        background-color: #fff;
        border-left: 2px solid rgb(216, 216, 216);
        border-bottom: 2px solid rgb(216, 216, 216);
        border-radius: 2px;
        transform: rotate(45deg);
        transform-origin: top left;
      }

      &-item {
        margin-right: 10px;
        margin-top: 5px;

        font-size: 16px;

        border-bottom: 1px dotted #000;
        cursor: pointer;
      }
    }
  }

  .answer-container {
    width: 700px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;

    .use-blocks {
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      align-items: center;
      min-height: 70px;

      border-top: 2px solid rgb(216, 216, 216);
      border-bottom: 2px solid rgb(216, 216, 216);

      &-item {
        padding: 10px;
        margin-right: 10px;

        color: #4b4b4b;
        font-weight: 500;

        border: solid rgb(216, 216, 216);
        border-width: 2px 2px 4px;
        border-radius: 16px;
        cursor: pointer;

        transition: all 0.1s ease-out;
    
        &:active {
          border-width: 2px;
        }
      }
    }

    .block-container {
      margin-top: 5%;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      align-items: center;

      .block-item {
        padding: 10px;
        margin-right: 10px;

        color: #4b4b4b;
        font-weight: 500;

        border: solid rgb(216, 216, 216);
        border-width: 2px 2px 4px;
        border-radius: 16px;
        cursor: pointer;

        transition: all 0.1s ease-out;
    
        &:active {
          border-width: 2px;
        }
      }
    }
  }

  .check-button {
    width: 300px;
    padding: 13px 16px;
    margin: 0 auto;
    margin-top: 2%;

    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 20px;

    background-color: #6fce02;
    box-shadow: 0 3px 0 0 #58a700;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    
    &:hover {
      background-color: #7edd11;
    }

    &:active {
      box-shadow: none;
      transform: translateY(3px);
    }
  }
}